body{
	background-color: #b3b0e3;
  font-family: 'Ubuntu', sans-serif;
}

container{
    display: flex;
    flex-direction: row;
    align-items: top;
}

.item{
    flex-grow: 1;   
}

.button2{
    background: none!important;
    border: none;
    padding: none!important;
    font-size:14;
    color: rgb(255, 56, 208);
    text-indent: 2px;
    text-align: justify;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #fff;

  }

.divider{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 32px;
    border: 3px solid;
    border-color: #ffd1dc;
    background-color: #fff;
}

.li{
    padding: 10%;

}
.li-wrap1{
    flex-grow: 1;
    position:relative;
}
.li-wrap2{
    flex-grow: 1;
    position:relative;
}
.li-wrap3{
    flex-grow: 1;
    position:relative;
}
.item2{
    flex-grow: 4;
    position: relative;
}

.ult{
    position: relative;
	margin-left: 33%;
    display:inline-flex;
    flex-direction: column;
    padding:10px;
    z-index:50;  
}

.ulb{
    position: relative;
    display:inline-flex;
    flex-direction: column;
    padding: 15%; 
}


img {
	position: absolute;
	margin-left: 0%;
    display:inline-block;
    height:100%;
}

p {
    text-indent: 2px;
    text-align: justify;
    letter-spacing: 3px;
    background-color: #fff;
    font-size: 14;
    padding: 5px;
    white-space: normal;
    overflow: scroll;
    display:inline-block;
    border-radius:10px;
    border: 3px solid;
    border-color: #ffd1dc;
    
  }

button{
    margin: 10px;
    position:relative;
    display: block;
    float: left;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ffd1dc;
    border: 3px solid;
    border-color: #fff;
    border-radius: 10%;
}

ul{
	list-style-type: none;
	display:inline-block;
}


.character{
    position:absolute;
    visibility:hidden;
    z-index: -1;   
}
.character2{
    position:absolute;
    visibility:visible;
    z-index: -2;   
}
.se{
	visibility:hidden;
    z-index: 2;
}

.hair{
	visibility:hidden;
  z-index: 2;
}
.shirt{
	visibility:hidden;
  z-index: 3;
}

.pant{
	visibility:hidden;
  z-index: 1;
	}
.hair-text{
    
    visibility:hidden;
    z-index: 2;
}
.top-text{
    position:relative;
    visibility:hidden;
    z-index: 3;
}
    
.pant-text{
    position:relative;
    visibility:hidden;
    z-index: 1;
}
